---
layout: page
title: Asian Turfgrass Center
# subtitle: the official site
bigimg: 
  - "/img/kashima.jpg"           : "kentucky bluegrass, Japan"
  - "/img/horses_bkk.jpg"        : "racing on Cynodon, Axonopus, and Zoysia, Bangkok"
  - "/img/le_touessrock.jpg"     : "seashore paspalum, Mauritius"
  - "/img/waterlogging.jpg"      : "waterlogging research, Singapore"
  - "/img/paspalum_or.jpg"       : "seashore paspalum seed field, Oregon"
  - "/img/manilagrass_mnl.jpg"   : "manilagrasss, Manila"
  - "/img/mnl_pano.jpg"          : "seashore paspalum, Manila"
  - "/img/korai_shizuoka.jpg"    : "korai, Shizuoka"
  - "/img/chang_bang-pa-in_palace.jpg" : "manilagrass and javagrass, Ayutthaya"
  - "/img/fwy_ca.jpg"            : "perennial ryegrass, California"
  - "/img/mow_vn.jpg"            : "seashore paspalum, Hanoi"
  - "/img/topdress_eagle.jpg"    : "sand topdressing, Thailand"
  - "/img/polo_kolkata.jpg"      : "Cynodon on Pat Williamson Ground, Kolkata"
  - "/img/paspalum_danang.jpg"   : "seashore paspalum, Danang"
  - "/img/too_much_om.jpg"       : "too much organic matter, Vietnam"
  - "/img/manilagrass_seed.jpg"  : "manilagrass, Phuket"
  - "/img/noshiba_koraipano.jpg" : "noshiba and korai, Chiba"
  - "/img/bent_soil.jpg"         : "soil temperature bentgrass, Japan"
  - "/img/ice_cube_bentgrass.jpg" : "surface temperature bentgrass, Japan"
  - "/img/stenotaphrum_hi.jpg"   : "Stenotaphrum and Cynodon, Oahu"
  - "/img/fine_fescue_47.jpg"    : "fine fescue, Washington"
  - "/img/korai_dormant_tokyo.jpg" : "korai, Tokyo"
  - "/img/korai_stimpmeter.jpg"  : "korai green speed measurement, Fukuoka"
  - "/img/paspalum_mtt.jpg"      : "seashore paspalum, Nonthaburi"
  - "/img/grasses_bkk.jpg"       : "Axonopus, Cynodon, Paspalum, Stenotaphrum, and Zoysia, Bangkok"
  - "/img/indica_bangkok_lawn.jpg" : "javagrass, Bangkok"
  - "/img/pg_bentgrass.jpg"      : "creeping bentgrass, Girona"
  - "/img/bent_valencia.jpg"     : "creeping bentgrass, Valencia"
  - "/img/novotek_paspalum.jpg"  : "bermudagrass (left) and seashore paspalum (right), Chonburi"
  - "/img/noshiba_gang.jpg"      : "noshiba, Kanagawa"
  - "/img/krabi.jpg"             : "tropical carpetgrass and manilagrass, Krabi"
  - "/img/sunshine.jpg"          : "world cities plotted by annual sunshine and temperature"
  - "/img/baguio.jpg"            : "bermudagrass and creeping bentgrass, Baguio"
  - "/img/atc.jpg"               : "ATC research facility, Ayutthaya"
  - "/img/atc_dew.jpg"           : "dew on bermudagrass and seashore paspalum, Ayutthaya"
  - "/img/atc_area6.jpg"         : "warm-season grass plots, Ayutthaya"
  - "/img/atc_pots.jpg"          : "ATC research facility, Ayutthaya"
  - "/img/fuji_course.jpg"       : "korai, Shizuoka"
  - "/img/crater.jpg"            : "kikuygrass at Real Club de Golf de Las Palmas, Gran Canaria"
  - "/img/catalonia.jpg"         : "Brachypodium retusum, Girona"
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | strip_html | xml_escape | truncatewords: 50 }}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags: 
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
